# Pre-processed Data: Managing Missing Values

To handle missing values in the dataset, you can use the following Python code:

# Data Cleaning :
Clean useless columns

In [12]:
import pandas as pd
import os

file1 = os.path.join("datasets", 'general_data.csv')
df1 = pd.read_csv(file1)
file2 = os.path.join("datasets", 'employee_survey_data.csv')
df2 = pd.read_csv(file2)
file3 = os.path.join("datasets", 'manager_survey_data.csv')
df3 = pd.read_csv(file3)

def delete_columns(df1):
    delete_columns = ['EmployeeCount', 'Over18']  # columns to delete
    existing_columns = [col for col in delete_columns if col in df1.columns]
    return df1.drop(columns=existing_columns)

Transform non-numerical to numercial data :

In [13]:
def non_numerical_columns(df1):
    df1['Attrition'] = df1['Attrition'].map({'Yes': 1, 'No': 0, 0:0, 1:1})
    df1['BusinessTravel'] = df1['BusinessTravel'].map({'Non-Travel': 0, 'Travel_Rarely': 1, 'Travel_Frequently': 2, 0:0, 1:1, 2:2})
    df1['Department'] = df1['Department'].map({'Sales': 0, 'Research & Development': 1, 'Human Resources': 2, 0:0, 1:1, 2:2})
    df1['EducationField'] = df1['EducationField'].map({'Life Sciences': 0, 'Medical': 1, 'Marketing': 2, 'Technical Degree': 3, 'Human Resources': 4, 'Other': 5, 0:0, 1:1, 2:2, 3:3, 4:4, 5:5})
    df1['Gender'] = df1['Gender'].map({'Female': 0, 'Male': 1, 0:0, 1:1})
    df1['JobRole'] = df1['JobRole'].map({'Sales Executive': 0, 'Research Scientist': 1, 'Laboratory Technician': 2, 'Manufacturing Director': 3, 'Healthcare Representative': 4, 'Manager': 5, 'Sales Representative': 6, 'Research Director': 7, 'Human Resources': 8, 0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8})
    df1['MaritalStatus'] = df1['MaritalStatus'].map({'Single': 0, 'Married': 1, 'Divorced': 2, 0:0, 1:1, 2:2})
    return df1

Merge theses two codes

In [14]:
import pandas as pd
import os

def test_non_numerical_columns(df1):
    df1 = delete_columns(df1)
    df1 = non_numerical_columns(df1)
    print(df1.info())
    return df1

df1 = test_non_numerical_columns(df1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int64
 2   BusinessTravel           4410 non-null   int64
 3   Department               4410 non-null   int64
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   int64
 7   EmployeeID               4410 non-null   int64
 8   Gender                   4410 non-null   int64
 9   JobLevel                 4410 non-null   int64
 10  JobRole                  4410 non-null   int64
 11  MaritalStatus            4410 non-null   int64
 12  MonthlyIncome            4410 non-null   int64
 13  NumCompaniesWorked       4391 non-null   float64
 14  PercentSalaryHike        4410 non-null   int64
 15  StandardHours            4410 non-null   int64
 16  StockOptionLevel         4410 non-null   int64
 17  TotalWorkingYears        4401 non-null   float64
 18  TrainingTimesLastYear    4410 non-null   int64
 19  YearsAtCompany           4410 non-null   int64
 20  YearsSinceLastPromotion  4410 non-null   int64
 21  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 758.1 KB
None

# Categorization data to complet whole in data : Mode 
Check the data missing

In [15]:
import pandas as pd
import os

for col in df1.columns:
    print(f"Columns: {col}, Missing Values: {df1[col].isna().sum()} ,rate of missing values: {round(df1[col].isna().sum()/len(df1[col])*100,2)}%") # print the number of missing values for each column

Columns: Age, Missing Values: 0 ,rate of missing values: 0.0%
Columns: Attrition, Missing Values: 0 ,rate of missing values: 0.0%
Columns: BusinessTravel, Missing Values: 0 ,rate of missing values: 0.0%
Columns: Department, Missing Values: 0 ,rate of missing values: 0.0%
Columns: DistanceFromHome, Missing Values: 0 ,rate of missing values: 0.0%
Columns: Education, Missing Values: 0 ,rate of missing values: 0.0%
Columns: EducationField, Missing Values: 0 ,rate of missing values: 0.0%
Columns: EmployeeID, Missing Values: 0 ,rate of missing values: 0.0%
Columns: Gender, Missing Values: 0 ,rate of missing values: 0.0%
Columns: JobLevel, Missing Values: 0 ,rate of missing values: 0.0%
Columns: JobRole, Missing Values: 0 ,rate of missing values: 0.0%
Columns: MaritalStatus, Missing Values: 0 ,rate of missing values: 0.0%
Columns: MonthlyIncome, Missing Values: 0 ,rate of missing values: 0.0%
Columns: NumCompaniesWorked, Missing Values: 19 ,rate of missing values: 0.43%
Columns: PercentSalaryHike, Missing Values: 0 ,rate of missing values: 0.0%
Columns: StandardHours, Missing Values: 0 ,rate of missing values: 0.0%
Columns: StockOptionLevel, Missing Values: 0 ,rate of missing values: 0.0%
Columns: TotalWorkingYears, Missing Values: 9 ,rate of missing values: 0.2%
Columns: TrainingTimesLastYear, Missing Values: 0 ,rate of missing values: 0.0%
Columns: YearsAtCompany, Missing Values: 0 ,rate of missing values: 0.0%
Columns: YearsSinceLastPromotion, Missing Values: 0 ,rate of missing values: 0.0%
Columns: YearsWithCurrManager, Missing Values: 0 ,rate of missing values: 0.0%

Delete the columns if 40% of missing value, and filled missing value.

In [16]:
import pandas as pd

def fill_missing_columns(df1):
    # Suppression of columns with more than 40% missing values
    missing_percentage = df1.isna().sum() / len(df1)
    columns_to_drop = missing_percentage[missing_percentage > 0.4].index
    print(f"Colonnes supprimées (plus de {0.4*100}% de valeurs manquantes) : {list(columns_to_drop)}")
    df1 = df1.drop(columns=columns_to_drop)
    
    # Replace missing values with the mode
    for column in df1.columns:
        if df1[column].isnull().sum() > 0:  # Verfie if there are missing values
            mode_value = df1[column].mode()[0]  # Get the mode
            df1[column].fillna(mode_value, inplace=True)  # Replace missing values with the mode
    return df1

Test

In [17]:
import pandas as pd

def Print_clean_df1(df1):
    df1 = fill_missing_columns(df1)
    pd.set_option('display.max_rows', None)  # Print all rows
    pd.set_option('display.max_columns', None)  # Print all columns

    # Print the first 5 rows of the dataframe
    print(df1.head())
    return df1

df1 = Print_clean_df1(df1)

Colonnes supprimées (plus de 40.0% de valeurs manquantes) : []
   Age  Attrition  BusinessTravel  Department  DistanceFromHome  Education  \
0   51          0               1           0                 6          2
1   31          1               2           1                10          1
2   32          0               2           1                17          4
3   38          0               0           1                 2          5
4   32          0               1           1                10          1

   EducationField  EmployeeID  Gender  JobLevel  JobRole  MaritalStatus  \
0               0           1       0         1        4              1
1               0           2       0         1        1              0
2               5           3       1         4        0              1
3               0           4       1         3        8              1
4               1           5       1         1        0              0

   MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StandardHours  \
0         131160                 1.0                 11              8
1          41890                 0.0                 23              8
2         193280                 1.0                 15              8
3          83210                 3.0                 11              8
4          23420                 4.0                 12              8

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                 0                1.0                      6               1
1                 1                6.0                      3               5
2                 3                5.0                      2               5
3                 3               13.0                      5               8
4                 2                9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     0
1                        1                     4
2                        0                     3
3                        7                     5
4                        0                     4

C:\Users\yusuf\AppData\Local\Temp\ipykernel_81700\2950179550.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1[column].fillna(mode_value, inplace=True)  # Replace missing values with the mode

Cleaning employee_survey_data.csv

In [18]:
import pandas as pd
import os

for col in df2.columns:
    print(f"Colonne: {col}, Valeurs manquantes: {df2[col].isna().sum()} ,taux valeurs manquantes: {round(df2[col].isna().sum()/len(df2[col])*100,2)}%")

Colonne: EmployeeID, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%
Colonne: EnvironmentSatisfaction, Valeurs manquantes: 25 ,taux valeurs manquantes: 0.57%
Colonne: JobSatisfaction, Valeurs manquantes: 20 ,taux valeurs manquantes: 0.45%
Colonne: WorkLifeBalance, Valeurs manquantes: 38 ,taux valeurs manquantes: 0.86%

In [19]:
import pandas as pd
import os

def Print_clean_df2(df2):
    df2 = fill_missing_columns(df2)
    pd.set_option('display.max_rows', None) 
    pd.set_option('display.max_columns', None) 

    for col in df2.columns:
        print(f"Colonne: {col}, Valeurs manquantes: {df2[col].isna().sum()} ,taux valeurs manquantes: {round(df2[col].isna().sum()/len(df2[col])*100,2)}%")
    return df2

df2 = Print_clean_df2(df2)

Colonnes supprimées (plus de 40.0% de valeurs manquantes) : []
Colonne: EmployeeID, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%
Colonne: EnvironmentSatisfaction, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%
Colonne: JobSatisfaction, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%
Colonne: WorkLifeBalance, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%

C:\Users\yusuf\AppData\Local\Temp\ipykernel_81700\2950179550.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1[column].fillna(mode_value, inplace=True)  # Replace missing values with the mode

Merge theses three data set

In [20]:

df1 = pd.merge(df1, df2, on="EmployeeID", how="left")
df1 = pd.merge(df1, df3, on="EmployeeID", how="left")

df1.to_csv("datasets/general_data_fusionne.csv", index=False)
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int64
 2   BusinessTravel           4410 non-null   int64
 3   Department               4410 non-null   int64
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   int64
 7   EmployeeID               4410 non-null   int64
 8   Gender                   4410 non-null   int64
 9   JobLevel                 4410 non-null   int64
 10  JobRole                  4410 non-null   int64
 11  MaritalStatus            4410 non-null   int64
 12  MonthlyIncome            4410 non-null   int64
 13  NumCompaniesWorked       4410 non-null   float64
 14  PercentSalaryHike        4410 non-null   int64
 15  StandardHours            4410 non-null   int64
 16  StockOptionLevel         4410 non-null   int64
 17  TotalWorkingYears        4410 non-null   float64
 18  TrainingTimesLastYear    4410 non-null   int64
 19  YearsAtCompany           4410 non-null   int64
 20  YearsSinceLastPromotion  4410 non-null   int64
 21  YearsWithCurrManager     4410 non-null   int64
 22  EnvironmentSatisfaction  4410 non-null   float64
 23  JobSatisfaction          4410 non-null   float64
 24  WorkLifeBalance          4410 non-null   float64
 25  JobInvolvement           4410 non-null   int64
 26  PerformanceRating        4410 non-null   int64
dtypes: float64(5), int64(22)
memory usage: 930.4 KB
None

## import the CSV file for the in and out files for the in/out time

In [21]:
import pandas as pd
import os

infilepath = os.path.join('datasets', 'in_time.csv')
outfilepath = os.path.join('datasets', 'out_time.csv')

in_ = pd.read_csv(infilepath)
out_ = pd.read_csv(outfilepath)


in_.head()
out_.head()

,,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,2015-01-16,2015-01-19,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-26,2015-01-27,2015-01-28,2015-01-29,2015-01-30,2015-02-02,2015-02-03,2015-02-04,2015-02-05,2015-02-06,2015-02-09,2015-02-10,2015-02-11,2015-02-12,2015-02-13,2015-02-16,2015-02-17,2015-02-18,2015-02-19,2015-02-20,2015-02-23,2015-02-24,2015-02-25,2015-02-26,2015-02-27,2015-03-02,2015-03-03,2015-03-04,2015-03-05,2015-03-06,2015-03-09,2015-03-10,2015-03-11,2015-03-12,2015-03-13,2015-03-16,2015-03-17,2015-03-18,2015-03-19,2015-03-20,2015-03-23,2015-03-24,2015-03-25,2015-03-26,2015-03-27,2015-03-30,2015-03-31,2015-04-01,2015-04-02,2015-04-03,2015-04-06,2015-04-07,2015-04-08,2015-04-09,2015-04-10,2015-04-13,2015-04-14,2015-04-15,2015-04-16,2015-04-17,2015-04-20,2015-04-21,2015-04-22,2015-04-23,2015-04-24,2015-04-27,2015-04-28,2015-04-29,2015-04-30,2015-05-01,2015-05-04,2015-05-05,2015-05-06,2015-05-07,2015-05-08,2015-05-11,2015-05-12,2015-05-13,2015-05-14,2015-05-15,2015-05-18,2015-05-19,2015-05-20,2015-05-21,2015-05-22,2015-05-25,2015-05-26,2015-05-27,2015-05-28,2015-05-29,2015-06-01,2015-06-02,2015-06-03,2015-06-04,2015-06-05,2015-06-08,2015-06-09,2015-06-10,2015-06-11,2015-06-12,2015-06-15,2015-06-16,2015-06-17,2015-06-18,2015-06-19,2015-06-22,2015-06-23,2015-06-24,2015-06-25,2015-06-26,2015-06-29,2015-06-30,2015-07-01,2015-07-02,2015-07-03,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,2015-07-13,2015-07-14,2015-07-15,2015-07-16,2015-07-17,2015-07-20,2015-07-21,2015-07-22,2015-07-23,2015-07-24,2015-07-27,2015-07-28,2015-07-29,2015-07-30,2015-07-31,2015-08-03,2015-08-04,2015-08-05,2015-08-06,2015-08-07,2015-08-10,2015-08-11,2015-08-12,2015-08-13,2015-08-14,2015-08-17,2015-08-18,2015-08-19,2015-08-20,2015-08-21,2015-08-24,2015-08-25,2015-08-26,2015-08-27,2015-08-28,2015-08-31,2015-09-01,2015-09-02,2015-09-03,2015-09-04,2015-09-07,2015-09-08,2015-09-09,2015-09-10,2015-09-11,2015-09-14,2015-09-15,2015-09-16,2015-09-17,2015-09-18,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-02,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,2015-10-19,2015-10-20,2015-10-21,2015-10-22,2015-10-23,2015-10-26,2015-10-27,2015-10-28,2015-10-29,2015-10-30,2015-11-02,2015-11-03,2015-11-04,2015-11-05,2015-11-06,2015-11-09,2015-11-10,2015-11-11,2015-11-12,2015-11-13,2015-11-16,2015-11-17,2015-11-18,2015-11-19,2015-11-20,2015-11-23,2015-11-24,2015-11-25,2015-11-26,2015-11-27,2015-11-30,2015-12-01,2015-12-02,2015-12-03,2015-12-04,2015-12-07,2015-12-08,2015-12-09,2015-12-10,2015-12-11,2015-12-14,2015-12-15,2015-12-16,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NA,2015-01-02 16:56:15,2015-01-05 17:20:11,2015-01-06 17:19:05,2015-01-07 16:34:55,2015-01-08 17:08:32,2015-01-09 17:38:29,2015-01-12 16:58:39,2015-01-13 18:02:58,NA,2015-01-15 17:22:13,2015-01-16 17:35:11,NA,2015-01-20 16:37:07,2015-01-21 16:55:24,2015-01-22 16:50:47,2015-01-23 17:00:01,NA,2015-01-27 17:28:22,2015-01-28 17:03:21,2015-01-29 17:18:36,2015-01-30 17:00:25,2015-02-02 16:32:49,2015-02-03 17:35:49,2015-02-04 17:24:56,2015-02-05 17:26:31,2015-02-06 17:21:35,2015-02-09 17:37:50,2015-02-10 17:30:20,2015-02-11 17:30:19,2015-02-12 17:36:42,2015-02-13 16:25:26,2015-02-16 17:50:23,2015-02-17 17:28:06,2015-02-18 18:13:29,NA,2015-02-20 17:44:52,2015-02-23 17:13:27,2015-02-24 17:24:48,2015-02-25 17:27:37,2015-02-26 17:08:36,2015-02-27 17:21:55,2015-03-02 17:29:08,2015-03-03 16:54:12,2015-03-04 17:50:18,NA,2015-03-06 17:44:47,2015-03-09 17:53:05,2015-03-10 16:42:53,2015-03-11 16:58:39,2015-03-12 17:15:39,2015-03-13 17:25:55,NA,2015-03-17 17:00:16,2015-03-18 17:40:13,2015-03-19 17:52:44,2015-03-20 17:47:34,2015-03-23 17:48:18,2015-03-24 17:48:26,2015-03-25 17:08:19,NA,2015-03-27 17:20:51,2015-03-30 17:33:09,2015-03-31 18:00:07,2015-04-01 17:32:50,2015-04-02 17:24:58,2015-04-03 17:11:46,2015-04-06 16:42:46,2015-04-07 17:55:07,2015-04-08 17:30:12,2015-04-09 17:09:38,2015-04-10 16:53:22,2015-04-13 17:00:23,2015-04-14 17:07:36,2015-04-15 17:23:31,2015-04-16 17:31:32,2015-04-17 17:11:18,2015-04-20 17:45:08,2015-04-21 16:49:13,2015-04-22 17:27:46,2015-04-23 17:32:53,2015-04-24 17:39:25,2015-04-27 17:26:32,2015-04-28 17:50:45,2015-04-29 17:27:45,2015-04-30 17:18:59,NA,2015-05-04 17:05:30,2015-05-05 17:13:30,2015-05-06 17:16:30,2015-05-07 17:10:33,2015-05-08 17:31:56,NA,2015-05-12 17:16:58,2015-05-13 17:54:12,2015-05-14 17:44:49,2015-05-15 16:44:33,NA,2015-05-19 17:09:05,2015-05-20 17:19:49,2015-05-21 17:21:10,2015-05-22 17:27:28,2015-05-25 17:49:48,2015-05-26 17:29:00,2015-05-27 17:34:05,2015-05-28 17:23:52,NA,NA,2015-06-02 18:03:51,2015-06-03 17:18:10,2015-06-04 17:26:11,NA,2015-06-08 17:22:18,NA,2015-06-10 16:59:04,2015-06-11 17:21:39,2015-06-12 17:39:12,2015-06-15 17:26:02,2015-06-16 17:31:36,2015-06-17 17:17:49,2015-06-18 17:34:32,2015-06-19 17:21:17,2015-06-22 16:59:22,2015-06-23 16:51:41,2015-06-24 17:06:26,2015-06-25 17:37:14,2015-06-26 17:11:06,2015-06-29 17:41:01,2015-06-30 17:45:51,2015-07-01 17:22:27,2015-07-02 17:44:39,2015-07-03 17:09:29,2015-07-06 17:33:57,2015-07-07 17:47:22,2015-07-08 17:26:03,2015-07-09 16:18:10,2015-07-10 17:05:38,2015-07-13 17:23:56,2015-07-14 17:14:19,2015-07-15 17:32:02,2015-07-16 17:39:13,NA,2015-07-20 17:31:04,2015-07-21 17:03:19,2015-07-22 17:45:13,2015-07-23 16:45:36,2015-07-24 17:03:05,2015-07-27 17:24:48,2015-07-28 17:02:15,2015-07-29 16:57:05,2015-07-30 17:06:20,2015-07-31 17:34:04,2015-08-03 17:00:31,2015-08-04 17:10:18,2015-08-05 17:31:20,2015-08-06 17:27:12,2015-08-07 17:16:59,2015-08-10 17:48:37,2015-08-11 17:40:01,2015-08-12 17:15:47,2015-08-13 17:09:17,2015-08-14 17:08:51,2015-08-17 16:27:43,2015-08-18 18:03:09,2015-08-19 17:09:56,2015-08-20 17:11:05,2015-08-21 17:51:02,2015-08-24 17:37:08,2015-08-25 17:12:59,2015-08-26 17:36:02,2015-08-27 17:57:41,2015-08-28 17:27:04,2015-08-31 17:08:19,NA,2015-09-02 17:49:13,2015-09-03 17:07:17,2015-09-04 17:42:46,2015-09-07 17:40:58,2015-09-08 17:52:36,2015-09-09 18:00:21,2015-09-10 17:17:02,2015-09-11 17:22:52,2015-09-14 17:07:46,2015-09-15 17:34:11,2015-09-16 17:31:03,NA,2015-09-18 17:43:14,2015-09-21 17:13:51,2015-09-22 18:14:06,2015-09-23 17:05:53,2015-09-24 17:19:26,2015-09-25 17:43:56,2015-09-28 17:07:25,2015-09-29 17:27:30,2015-09-30 17:14:43,2015-10-01 17:52:44,NA,2015-10-05 17:03:41,2015-10-06 17:29:15,2015-10-07 16:56:00,2015-10-08 17:08:18,2015-10-09 17:10:00,2015-10-12 17:24:14,NA,2015-10-14 17:49:02,2015-10-15 17:54:13,2015-10-16 16:40:00,2015-10-19 17:27:58,2015-10-20 17:02:55,NA,NA,2015-10-23 17:13:46,2015-10-26 17:35:53,2015-10-27 16:28:13,2015-10-28 17:32:42,2015-10-29 16:57:29,2015-10-30 17:09:54,2015-11-02 16:53:43,2015-11-03 18:04:34,2015-11-04 16:43:40,2015-11-05 18:03:15,2015-11-06 17:15:12,NA,NA,NA,2015-11-12 17:13:17,2015-11-13 16:49:27,2015-11-16 18:03:08,2015-11-17 17:03:06,2015-11-18 17:38:02,2015-11-19 16:46:27,2015-11-20 17:58:40,2015-11-23 17:13:22,2015-11-24 17:37:21,2015-11-25 17:26:51,2015-11-26 17:44:49,2015-11-27 17:30:02,2015-11-30 17:05:11,2015-12-01 16:53:21,2015-12-02 17:32:24,2015-12-03 17:40:59,2015-12-04 17:02:22,2015-12-07 16:21:37,2015-12-08 17:51:23,2015-12-09 17:48:46,2015-12-10 16:52:14,2015-12-11 17:25:56,2015-12-14 17:35:53,NA,2015-12-16 17:54:26,NA,NA,2015-12-21 17:15:50,2015-12-22 17:27:51,2015-12-23 16:44:44,2015-12-24 17:47:22,NA,2015-12-28 18:00:07,2015-12-29 17:22:30,2015-12-30 17:40:56,2015-12-31 17:17:33
1,2,NA,2015-01-02 18:22:17,2015-01-05 17:48:22,NA,2015-01-07 17:09:06,2015-01-08 17:34:04,2015-01-09 16:52:29,2015-01-12 17:36:48,2015-01-13 18:00:13,NA,2015-01-15 17:14:44,2015-01-16 17:40:57,2015-01-19 17:58:22,2015-01-20 17:05:13,2015-01-21 17:41:05,2015-01-22 17:26:26,2015-01-23 17:06:50,NA,2015-01-27 17:35:50,2015-01-28 17:19:48,2015-01-29 17:07:38,2015-01-30 16:53:22,2015-02-02 17:45:18,2015-02-03 17:33:42,2015-02-04 18:04:20,2015-02-05 17:43:25,2015-02-06 17:06:42,NA,2015-02-10 18:12:17,2015-02-11 17:18:36,2015-02-12 18:08:01,2015-02-13 17:19:25,2015-02-16 17:46:09,2015-02-17 17:09:30,2015-02-18 17:48:56,2015-02-19 18:06:35,2015-02-20 17:31:45,2015-02-23 17:57:18,2015-02-24 17:32:22,2015-02-25 17:43:47,2015-02-26 17:49:55,2015-02-27 18:38:54,2015-03-02 17:36:37,2015-03-03 18:12:57,2015-03-04 17:52:38,NA,2015-03-06 17:21:33,2015-03-09 18:10:21,2015-03-10 17:14:06,2015-03-11 17:56:14,2015-03-12 17:30:53,2015-03-13 17:48:25,2015-03-16 17:08:38,2015-03-17 16:58:02,2015-03-18 17:16:35,2015-03-19 17:28:42,2015-03-20 17:31:55,2015-03-23 17:58:55,NA,2015-03-25 17:22:19,2015-03-26 17:48:10,2015-03-27 17:49:22,2015-03-30 17:28:31,2015-03-31 18:28:47,2015-04-01 17:30:06,2015-04-02 17:39:09,2015-04-03 18:07:24,2015-04-06 17:40:31,2015-04-07 17:50:46,2015-04-08 17:09:41,2015-04-09 17:07:38,2015-04-10 17:43:12,2015-04-13 17:45:20,2015-04-14 18:00:46,2015-04-15 17:35:11,2015-04-16 17:21:42,2015-04-17 17:24:55,2015-04-20 17:51:08,2015-04-21 18:49:53,2015-04-22 17:40:46,2015-04-23 18:04:23,2015-04-24 17:42:16,2015-04-27 17:12:05,2015-04-28 17:29:15,NA,2015-04-30 18:18:58,NA,2015-05-04 17:41:29,2015-05-05 18:08:25,2015-05-06 17:37:33,2015-05-07 17:26:07,2015-05-08 17:07:25,2015-05-11 17:30:04,2015-05-12 17:39:57,2015-05-13 17:35:24,NA,2015-05-15 17:06:54,NA,2015-05-19 17:53:01,2015-05-20 17:30:15,2015-05-21 17:25:40,2015-05-22 18:39:12,2015-05-25 17:50:50,2015-05-26 17:49:25,2015-05-27 17:51:25,2015-05-28 17:11:38,2015-05-29 17:55:55,2015-06-01 18:01:11,2015-06-02 17:34:55,2015-06-03 17:58:25,2015-06-04 16:27:03,2015-06-05 17:46:19,2015-06-08 17:20:20,2015-06-09 17:24:55,2015-06-10 17:44:36,2015-06-11 17:53:52,NA,2015-06-15 17:48:03,2015-06-16 18:01:24,2015-06-17 18:05:55,2015-06-18 17:48:28,2015-06-19 17:55:56,2015-06-22 17:48:27,2015-06-23 17:46:50,2015-06-24 17:59:00,2015-06-25 18:09:18,2015-06-26 17:35:47,2015-06-29 18:00:33,2015-06-30 17:20:12,2015-07-01 17:27:32,2015-07-02 17:52:49,2015-07-03 18:08:39,2015-07-06 17:53:47,2015-07-07 18:20:24,2015-07-08 17:39:41,2015-07-09 17:28:26,2015-07-10 18:12:57,NA,2015-07-14 18:06:32,2015-07-15 17:25:39,2015-07-16 18:13:48,NA,2015-07-20 17:47:07,2015-07-21 18:01:49,2015-07-22 17:20:40,2015-07-23 17:36:14,2015-07-24 18:07:05,NA,2015-07-28 18:08:31,2015-07-29 17:54:49,2015-07-30 17:19:50,2015-07-31 17:30:49,2015-08-03 17:44:58,2015-08-04 18:08:25,2015-08-05 17:27:32,2015-08-06 18:48:44,2015-08-07 17:47:53,2015-08-10 17:24:08,2015-08-11 17:09:55,2015-08-12 17:13:38,2015-08-13 17:54:56,2015-08-14 17:29:11,2015-08-17 18:04:06,2015-08-18 17:03:21,2015-08-19 17:36:39,2015-08-20 17:56:23,2015-08-21 17:38:55,2015-08-24 17:05:20,2015-08-25 17:11:02,2015-08-26 17:44:47,2015-08-27 18:04:39,2015-08-28 17:24:55,2015-08-31 18:13:22,2015-09-01 17:18:16,2015-09-02 17:26:57,2015-09-03 17:50:40,2015-09-04 18:21:48,2015-09-07 18:10:09,NA,2015-09-09 17:52:26,2015-09-10 18:22:09,2015-09-11 17:27:25,2015-09-14 17:10:53,2015-09-15 16:50:45,2015-09-16 17:16:37,NA,2015-09-18 17:51:23,2015-09-21 17:45:44,2015-09-22 16:51:17,2015-09-23 17:55:03,2015-09-24 18:07:54,2015-09-25 17:45:34,2015-09-28 17:52:52,2015-09-29 18:02:18,2015-09-30 18:15:14,2015-10-01 17:33:53,NA,2015-10-05 18:08:24,2015-10-06 17:12:33,2015-10-07 18:07:16,2015-10-08 18:19:06,2015-10-09 17:18:33,2015-10-12 17:16:51,2015-10-13 18:32:48,2015-10-14 17:45:04,NA,2015-10-16 17:58:11,2015-10-19 18:00:41,2015-10-20 17:13:28,2015-10-21 16:51:56,2015-10-22 18:30:26,2015-10-23 16:37:09,2015-10-26 17:58:41,2015-10-27 18:23:56,2015-10-28 17:20:29,2015-10-29 17:44:08,2015-10-30 17:32:48,2015-11-02 17:29:17,2015-11-03 17:18:27,2015-11-04 17:54:32,2015-11-05 17:11:57,2015-11-06 17:28:38,NA,NA,NA,2015-11-12 17:34:03,2015-11-13 17:38:25,2015-11-16 18:37:03,2015-11-17 17:26:09,2015-11-18 18:06:23,NA,2015-11-20 17:52:48,2015-11-23 17:32:43,2015-11-24 17:01:00,2015-11-25 17:14:56,2015-11-26 18:28:44,2015-11-27 18:12:27,2015-11-30 17:18:40,2015-12-01 17:21:07,2015-12-02 18:02:46,2015-12-03 18:08:00,2015-12-04 18:01:03,2015-12-07 17:06:37,2015-12-08 17:44:18,2015-12-09 17:47:47,2015-12-10 17:55:23,2015-12-11 17:42:47,2015-12-14 17:32:11,2015-12-15 17:56:25,2015-12-16 18:16:37,2015-12-17 17:10:50,2015-12-18 18:31:28,2015-12-21 17:34:16,2015-12-22 18:16:35,2015-12-23 17:38:18,NA,NA,2015-12-28 17:08:38,2015-12-29 17:54:46,2015-12-30 18:31:35,2015-12-31 17:40:58
2,3,NA,2015-01-02 16:59:14,2015-01-05 17:06:46,2015-01-06 16:38:32,2015-01-07 16:33:21,2015-01-08 17:24:22,2015-01-09 16:57:30,2015-01-12 17:28:54,2015-01-13 17:21:25,NA,2015-01-15 17:21:29,2015-01-16 17:18:13,2015-01-19 16:52:13,2015-01-20 16:52:23,2015-01-21 17:17:50,2015-01-22 17:27:54,2015-01-23 17:11:52,NA,2015-01-27 17:22:27,2015-01-28 16:24:04,2015-01-29 17:20:07,2015-01-30 17:16:03,2015-02-02 16:59:01,2015-02-03 15:58:24,2015-02-04 17:25:54,2015-02-05 16:29:41,2015-02-06 17:18:15,2015-02-09 16:48:18,2015-02-10 17:15:49,2015-02-11 16:49:22,2015-02-12 16:22:31,2015-02-13 17:41:15,2015-02-16 17:20:05,2015-02-17 16:46:01,2015-02-18 17:19:08,2015-02-19 16:44:56,2015-02-20 17:14:02,2015-02-23 17:59:19,2015-02-24 17:08:34,2015-02-25 16:55:31,2015-02-26 17:34:33,2015-02-27 16:48:44,2015-03-02 17:32:13,2015-03-03 17:11:01,2015-03-04 17:26:45,NA,2015-03-06 16:35:05,2015-03-09 17:08:34,2015-03-10 16:38:33,2015-03-11 17:31:26,2015-03-12 17:13:00,2015-03-13 16:25:40,2015-03-16 16:53:08,2015-03-17 17:07:58,2015-03-18 17:39:10,2015-03-19 16:27:24,NA,2015-03-23 16:50:31,2015-03-24 17:12:39,2015-03-25 16:42:17,2015-03-26 17:02:08,NA,2015-03-30 16:37:47,2015-03-31 17:29:39,2015-04-01 16:47:25,2015-04-02 17:14:02,2015-04-03 16:46:36,2015-04-06 16:27:34,2015-04-07 17:27:19,2015-04-08 17:36:18,2015-04-09 17:45:16,2015-04-10 17:13:27,2015-04-13 17:30:51,2015-04-14 16:43:49,2015-04-15 17:23:07,2015-04-16 16:49:51,2015-04-17 17:52:50,2015-04-20 17:03:14,2015-04-21 17:15:37,2015-04-22 17:23:28,NA,2015-04-24 17:05:07,2015-04-27 16:29:39,2015-04-28 17:22:20,2015-04-29 16:52:17,2015-04-30 16:43:32,NA,2015-05-04 16:42:30,2015-05-05 16:13:39,2015-05-06 17:27:27,2015-05-07 16:41:59,2015-05-08 17:13:18,2015-05-11 16:49:00,2015-05-12 16:45:55,2015-05-13 16:40:15,2015-05-14 17:01:56,2015-05-15 16:25:36,2015-05-18 17:17:40,2015-05-19 17:05:17,2015-05-20 17:06:32,2015-05-21 16:44:37,2015-05-22 16:54:06,2015-05-25 17:23:42,2015-05-26 16:44:02,2015-05-27 17:23:12,2015-05-28 16:31:51,2015-05-29 16:53:00,2015-06-01 16:44:52,2015-06-02 17:09:28,2015-06-03 17:21:49,2015-06-04 16:21:03,2015-06-05 16:24:55,2015-06-08 17:09:46,2015-06-09 16:46:00,2015-06-10 17:35:00,2015-06-11 17:20:01,2015-06-12 17:18:04,2015-06-15 16:58:07,2015-06-16 16:27:56,2015-06-17 16:50:32,2015-06-18 17:16:36,2015-06-19 16:43:47,2015-06-22 16:29:10,2015-06-23 16:53:24,NA,2015-06-25 16:44:56,2015-06-26 17:05:33,2015-06-29 16:19:27,2015-06-30 16:49:09,2015-07-01 16:50:55,2015-07-02 17:17:35,2015-07-03 16:36:11,2015-07-06 18:00:41,2015-07-07 17:36:36,2015-07-08 16:47:57,2015-07-09 18:07:51,2015-07-10 17:01:41,2015-07-13 16:20:14,2015-07-14 17:18:35,2015-07-15 16:54:35,2015-07-16 16:56:24,NA,2015-07-20 17:07:52,2015-07-21 16:51:57,2015-07-22 16:28:59,2015-07-23 17:23:36,2015-07-24 16:49:58,2015-07-27 17:18:46,2015-07-28 17:28:39,2015-07-29 17:53:35,2015-07-30 17:25:52,2015-07-31 16:44:55,2015-08-03 16:52:05,2015-08-04 16:25:27,NA,2015-08-06 16:53:15,2015-08-07 16:31:42,2015-08-10 17:06:02,2015-08-11 16:36:01,2015-08-12 17:28:54,2015-08-13 16:57:54,2015-08-14 16:54:16,2015-08-17 16:53:27,2015-08-18 17:15:15,2015-08-19 17:08:09,2015-08-20 16:53:58,2015-08-21 17:29:32,2015-08-24 17:01:36,2015-08-25 16:52:06,2015-08-26 17:06:17,2015-08-27 16:05:12,2015-08-28 16:46:21,2015-08-31 16:29:00,2015-09-01 17:12:34,2015-09-02 17:06:39,2015-09-03 17:14:37,2015-09-04 17:16:44,2015-09-07 16:17:32,2015-09-08 16:46:52,2015-09-09 16:33:08,2015-09-10 17:22:21,2015-09-11 16:32:47,2015-09-14 17:49:44,2015-09-15 16:58:26,2015-09-16 16:51:35,NA,2015-09-18 16:53:29,2015-09-21 16:42:32,2015-09-22 16:28:40,2015-09-23 17:06:45,2015-09-24 17:33:41,2015-09-25 16:39:34,2015-09-28 17:44:11,2015-09-29 17:52:11,2015-09-30 16:56:37,2015-10-01 17:16:00,NA,2015-10-05 17:11:32,2015-10-06 17:27:11,2015-10-07 17:19:27,2015-10-08 16:42:29,2015-10-09 16:55:42,2015-10-12 17:19:20,2015-10-13 17:03:46,2015-10-14 17:25:43,2015-10-15 16:59:34,2015-10-16 16:42:49,2015-10-19 16:36:56,2015-10-20 17:00:27,2015-10-21 17:52:36,2015-10-22 17:12:08,2015-10-23 17:00:44,2015-10-26 17:44:21,2015-10-27 17:20:34,2015-10-28 16:22:30,2015-10-29 16:35:41,2015-10-30 16:29:34,2015-11-02 17:35:43,2015-11-03 16:55:12,2015-11-04 17:01:26,2015-11-05 17:04:42,2015-11-06 16:39:49,NA,NA,NA,2015-11-12 17:36:44,2015-11-13 16:43:22,2015-11-16 16:51:03,2015-11-17 17:09:13,2015-11-18 17:28:22,2015-11-19 16:20:40,2015-11-20 17:40:18,2015-11-23 16:58:39,2015-11-24 16:33:43,2015-11-25 17:20:08,2015-11-26 17:34:28,NA,2015-11-30 17:00:13,2015-12-01 16:59:05,2015-12-02 16:54:49,2015-12-03 17:04:26,2015-12-04 17:10:47,2015-12-07 17:09:04,2015-12-08 17:28:44,2015-12-09 17:49:34,NA,2015-12-11 17:01:53,2015-12-14 16:48:18,2015-12-15 16:39:52,2015-12-16 16:42:44,2015-12-17 17:06:23,2015-12-18 17:02:23,2015-12-21 17:20:17,2015-12-22 16:32:50,2015-12-23 16:59:43,2015-12-24 16:58:25,NA,2015-12-28 16:43:31,2015-12-29 17:09:56,2015-12-30 17:06:25,2015-12-31 17:15:50

# Cleaning the data

* si le taux de valeurs manquantes est trop élevé, on peut supprimer les lignes avec des valeurs manquantes (`delete_columns_with_too_many_missing_values`)
* si le taux de valeurs manquantes est faible, on peut remplir les valeurs manquantes avec le mode pour les colonnes restantes (`fill_missing_columns`)

In [22]:
def delete_columns_with_too_many_missing_values(df):
    todel = []
    for col in df.columns:
        if df[col].isna().sum()/len(df[col])*100 > 30:
            todel.append(col)
    df.drop(todel, axis=1, inplace=True)

def fill_missing_columns(df):
    for column in df.columns:
        if df[column].isnull().sum() > 0:  # Verifie if there are missing values
            mode_value = df[column].mode()[0]  # Get the mode of the column
            df[column].fillna(mode_value, inplace=True)  # Replace NaN with the mode 

def date_to_datetime(df):
    for col in df.columns[1:]:
       df[col] = pd.to_datetime(df[col])   

delete_columns_with_too_many_missing_values(in_)
fill_missing_columns(in_)
date_to_datetime(in_)

delete_columns_with_too_many_missing_values(out_)
fill_missing_columns(out_)
date_to_datetime(out_)

# verification of the columns

if (not(in_.columns.equals(out_.columns))): 
    print("Columns are not the same")

in_.rename(columns={in_.columns[0]: "ID"}, inplace=True)
out_.rename(columns={out_.columns[0]: "ID"}, inplace=True)

print(in_)

C:\Users\yusuf\AppData\Local\Temp\ipykernel_81700\1786056723.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(mode_value, inplace=True)  # Replace NaN with the mode

DateParseError: Unknown datetime string format, unable to parse: NA           , at position 0

# Creating new columns

* average in time by ID
* average outtime by ID
* avverage working time by ID

In [14]:
from datetime import datetime, timedelta
# Calculation of the mean time for each row
def calculate_mean_time(row):
    # Convert the time to seconds
    times_in_seconds = [(time.hour * 3600 + time.minute * 60 + time.second) for time in row]
    # Calculate the mean time in seconds
    mean_seconds = sum(times_in_seconds) / len(times_in_seconds)
    # Convert the mean time to hours, minutes and seconds
    mean_hour = int(mean_seconds // 3600)
    mean_minute = int((mean_seconds % 3600) // 60)
    mean_second = int(mean_seconds % 60)
    return f"{mean_hour:02d}:{mean_minute:02d}:{mean_second:02d}"

in_['meanIntime']= in_.iloc[:, 1:].apply(calculate_mean_time, axis=1)
out_['meanOuttime']= out_.iloc[:, 1:].apply(calculate_mean_time, axis=1)


time_format = "%H:%M:%S"
out_['meanOuttime']=  pd.to_datetime(out_['meanOuttime'], format=time_format) 
in_['meanIntime']=  pd.to_datetime(in_['meanIntime'], format=time_format) 
#meanid_in = pd.DataFrame(meanid, columns=[in_.ID, meanid])

/tmp/ipykernel_735/1661874872.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  in_['meanIntime']= in_.iloc[:, 1:].apply(calculate_mean_time, axis=1)
/tmp/ipykernel_735/1661874872.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  out_['meanOuttime']= out_.iloc[:, 1:].apply(calculate_mean_time, axis=1)

In [16]:
ProcessedCalendar = pd.concat([in_[['ID','meanIntime']],out_['meanOuttime']], axis=1)  

ProcessedCalendar['MeanWorkingTime'] = ProcessedCalendar['meanOuttime'] - ProcessedCalendar['meanIntime']
ProcessedCalendar['MeanWorkingTime'] = ProcessedCalendar['MeanWorkingTime'].apply(lambda x: str(x).split()[2])
ProcessedCalendar['meanOuttime'] = ProcessedCalendar['meanOuttime'].apply(lambda x: str(x).split()[1])
ProcessedCalendar['meanIntime'] = ProcessedCalendar['meanIntime'].apply(lambda x: str(x).split()[1])
ProcessedCalendar.head()

   ID meanIntime meanOuttime MeanWorkingTime
0   1   09:59:57    17:19:54        07:19:57
1   2   09:59:06    17:39:30        07:40:24
2   3   10:01:16    17:01:51        07:00:35
3   4   09:58:43    17:09:47        07:11:04
4   5   09:59:50    17:59:13        07:59:23

## Merging the data about work time and the data about the employees

In [24]:
df1 = pd.merge(df1, ProcessedCalendar, left_on="EmployeeID", right_on = "ID", how="left") 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        4410 non-null   int64
 1   Attrition                  4410 non-null   int64
 2   BusinessTravel             4410 non-null   int64
 3   Department                 4410 non-null   int64
 4   DistanceFromHome           4410 non-null   int64
 5   Education                  4410 non-null   int64
 6   EducationField             4410 non-null   int64
 7   EmployeeID                 4410 non-null   int64
 8   Gender                     4410 non-null   int64
 9   JobLevel                   4410 non-null   int64
 10  JobRole                    4410 non-null   int64
 11  MaritalStatus              4410 non-null   int64
 12  MonthlyIncome              4410 non-null   int64
 13  NumCompaniesWorked         4410 non-null   float64
 14  PercentSalaryHike          4410 non-null   int64
 15  StandardHours              4410 non-null   int64
 16  StockOptionLevel           4410 non-null   int64
 17  TotalWorkingYears          4410 non-null   float64
 18  TrainingTimesLastYear      4410 non-null   int64
 19  YearsAtCompany             4410 non-null   int64
 20  YearsSinceLastPromotion    4410 non-null   int64
 21  YearsWithCurrManager       4410 non-null   int64
 22  EnvironmentSatisfaction_x  4410 non-null   float64
 23  JobSatisfaction_x          4410 non-null   float64
 24  WorkLifeBalance_x          4410 non-null   float64
 25  JobInvolvement_x           4410 non-null   int64
 26  PerformanceRating_x        4410 non-null   int64
 27  EnvironmentSatisfaction_y  4410 non-null   float64
 28  JobSatisfaction_y          4410 non-null   float64
 29  WorkLifeBalance_y          4410 non-null   float64
 30  JobInvolvement_y           4410 non-null   int64
 31  PerformanceRating_y        4410 non-null   int64
 32  ID_x                       4410 non-null   int64
 33  meanIntime_x               4410 non-null   object
 34  meanOuttime_x              4410 non-null   object
 35  MeanWorkingTime_x          4410 non-null   object
 36  ID_y                       4410 non-null   int64
 37  meanIntime_y               4410 non-null   object
 38  meanOuttime_y              4410 non-null   object
 39  MeanWorkingTime_y          4410 non-null   object
dtypes: float64(8), int64(26), object(6)
memory usage: 1.3+ MB

## Data Cleaning for an ethical approach

see deliverable about ethics

In [17]:
# removing age, sex, and marital status
df1 = df1.drop(['Age', 'Gender', 'MaritalStatus'], axis=1) 
df1.head()

,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,JobLevel,JobRole,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,0,1,0,6,2,0,1,1,4,131160,1.0,11,8,0,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,1,2,1,10,1,0,2,1,1,41890,0.0,23,8,1,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,0,2,1,17,4,5,3,4,0,193280,1.0,15,8,3,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,0,0,1,2,5,0,4,3,8,83210,3.0,11,8,3,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,0,1,1,10,1,1,5,1,0,23420,4.0,12,8,2,9.0,2,6,0,4,4.0,1.0,3.0,3,3

Implementations of the model Logistic Linear Regression

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report


# Step 1: Prepare data for training
def prepare_data_for_training(df1):
    # Define the features and the target
    X = df1.drop(columns=['Attrition'])  # 'Attrition_Yes' is the target
    y = df1['Attrition']
    
    # Divide the data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    return X_train, X_test, y_train, y_test

# Step 2: Train and evaluate the model
def train_and_evaluate_logistic_regression(X_train, X_test, y_train, y_test):
    # Initialize the model
    model = LogisticRegression(max_iter=100000, random_state=42)
    
    # Train the model
    model.fit(X_train, y_train)
    
    # Make predictions
    y_pred = model.predict(X_test)
    
    # Evaluate the model
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    
    print("Accuracy :", accuracy)
    print("\nClassification Report:\n", report)
    return model

# Step 3: Load and prepare the data, train and evaluate the model

# Load the data
print("Données préparées :")
df1.head()

    
# Prepare the data for training
X_train, X_test, y_train, y_test = prepare_data_for_training(df1)
    
# Train and evaluate the model
trained_model = train_and_evaluate_logistic_regression(X_train, X_test, y_train, y_test)

Données préparées :
Accuracy : 0.8526077097505669

Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.98      0.92       741
           1       0.65      0.17      0.27       141

    accuracy                           0.85       882
   macro avg       0.76      0.58      0.59       882
weighted avg       0.83      0.85      0.81       882