# Pre-processed Data: Managing Missing Values

To handle missing values in the dataset, you can use the following Python code:

# Data Cleaning :
Clean useless columns

In [75]:
import pandas as pd
import os

file1 = os.path.join("datasets", 'general_data.csv')
df1 = pd.read_csv(file1)
file2 = os.path.join("datasets", 'employee_survey_data.csv')
df2 = pd.read_csv(file2)
file3 = os.path.join("datasets", 'manager_survey_data.csv')
df3 = pd.read_csv(file3)

def delete_columns(df1):
    delete_columns = ['EmployeeCount', 'Over18']  # Colonnes à supprimer
    existing_columns = [col for col in delete_columns if col in df1.columns]
    return df1.drop(columns=existing_columns)

Transform non-numerical to numercial data :

In [76]:
def non_numerical_columns(df1):
    df1['Attrition'] = df1['Attrition'].map({'Yes': 1, 'No': 0, 0:0, 1:1})
    df1['BusinessTravel'] = df1['BusinessTravel'].map({'Non-Travel': 0, 'Travel_Rarely': 1, 'Travel_Frequently': 2, 0:0, 1:1, 2:2})
    df1['Department'] = df1['Department'].map({'Sales': 0, 'Research & Development': 1, 'Human Resources': 2, 0:0, 1:1, 2:2})
    df1['EducationField'] = df1['EducationField'].map({'Life Sciences': 0, 'Medical': 1, 'Marketing': 2, 'Technical Degree': 3, 'Human Resources': 4, 'Other': 5, 0:0, 1:1, 2:2, 3:3, 4:4, 5:5})
    df1['Gender'] = df1['Gender'].map({'Female': 0, 'Male': 1, 0:0, 1:1})
    df1['JobRole'] = df1['JobRole'].map({'Sales Executive': 0, 'Research Scientist': 1, 'Laboratory Technician': 2, 'Manufacturing Director': 3, 'Healthcare Representative': 4, 'Manager': 5, 'Sales Representative': 6, 'Research Director': 7, 'Human Resources': 8, 0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8})
    df1['MaritalStatus'] = df1['MaritalStatus'].map({'Single': 0, 'Married': 1, 'Divorced': 2, 0:0, 1:1, 2:2})
    return df1

Merge theses two codes

In [77]:
import pandas as pd
import os

def test_non_numerical_columns(df1):
    df1 = delete_columns(df1)
    df1 = non_numerical_columns(df1)
    print(df1.info())
    return df1

df1 = test_non_numerical_columns(df1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int64
 2   BusinessTravel           4410 non-null   int64
 3   Department               4410 non-null   int64
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   int64
 7   EmployeeID               4410 non-null   int64
 8   Gender                   4410 non-null   int64
 9   JobLevel                 4410 non-null   int64
 10  JobRole                  4410 non-null   int64
 11  MaritalStatus            4410 non-null   int64
 12  MonthlyIncome            4410 non-null   int64
 13  NumCompaniesWorked       4391 non-null   float64
 14  PercentSalaryHike        4410 non-null   int64
 15  StandardHours            4410 non-null   int64
 16  StockOptionLevel         4410 non-null   int64
 17  TotalWorkingYears        4401 non-null   float64
 18  TrainingTimesLastYear    4410 non-null   int64
 19  YearsAtCompany           4410 non-null   int64
 20  YearsSinceLastPromotion  4410 non-null   int64
 21  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 758.1 KB
None

# Categorization data to complet whole in data : Mode 
Check the data missing

In [78]:
import pandas as pd
import os

for col in df1.columns:
    print(f"Colonne: {col}, Valeurs manquantes: {df1[col].isna().sum()} ,taux valuers manquantes: {round(df1[col].isna().sum()/len(df1[col])*100,2)}%")

Colonne: Age, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: Attrition, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: BusinessTravel, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: Department, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: DistanceFromHome, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: Education, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: EducationField, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: EmployeeID, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: Gender, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: JobLevel, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: JobRole, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: MaritalStatus, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: MonthlyIncome, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: NumCompaniesWorked, Valeurs manquantes: 19 ,taux valuers manquantes: 0.43%
Colonne: PercentSalaryHike, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: StandardHours, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: StockOptionLevel, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: TotalWorkingYears, Valeurs manquantes: 9 ,taux valuers manquantes: 0.2%
Colonne: TrainingTimesLastYear, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: YearsAtCompany, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: YearsSinceLastPromotion, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%
Colonne: YearsWithCurrManager, Valeurs manquantes: 0 ,taux valuers manquantes: 0.0%

Delete the columns if 40% of missing value, and filled missing value.

In [79]:
import pandas as pd

def fill_missing_columns(df1):
    # Suppression des colonnes avec plus de 'threshold' valeurs manquantes
    missing_percentage = df1.isna().sum() / len(df1)
    columns_to_drop = missing_percentage[missing_percentage > 0.4].index
    print(f"Colonnes supprimées (plus de {0.4*100}% de valeurs manquantes) : {list(columns_to_drop)}")
    df1 = df1.drop(columns=columns_to_drop)
    
    # Remplissage des valeurs manquantes avec le mode pour les colonnes restantes
    for column in df1.columns:
        if df1[column].isnull().sum() > 0:  # Vérifie s'il y a des valeurs manquantes
            mode_value = df1[column].mode()[0]  # Récupère le mode de la colonne
            df1[column].fillna(mode_value, inplace=True)  # Remplace les NaN par le mode  
    return df1

Test

In [80]:
import pandas as pd

def Print_clean_df1(df1):
    df1 = fill_missing_columns(df1)
    pd.set_option('display.max_rows', None)  # Afficher toutes les lignes
    pd.set_option('display.max_columns', None)  # Afficher toutes les colonnes

    # Afficher toutes les données
    print(df1.head())
    return df1

df1 = Print_clean_df1(df1)

Colonnes supprimées (plus de 40.0% de valeurs manquantes) : []
   Age  Attrition  BusinessTravel  Department  DistanceFromHome  Education  \
0   51          0               1           0                 6          2
1   31          1               2           1                10          1
2   32          0               2           1                17          4
3   38          0               0           1                 2          5
4   32          0               1           1                10          1

   EducationField  EmployeeID  Gender  JobLevel  JobRole  MaritalStatus  \
0               0           1       0         1        4              1
1               0           2       0         1        1              0
2               5           3       1         4        0              1
3               0           4       1         3        8              1
4               1           5       1         1        0              0

   MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StandardHours  \
0         131160                 1.0                 11              8
1          41890                 0.0                 23              8
2         193280                 1.0                 15              8
3          83210                 3.0                 11              8
4          23420                 4.0                 12              8

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                 0                1.0                      6               1
1                 1                6.0                      3               5
2                 3                5.0                      2               5
3                 3               13.0                      5               8
4                 2                9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     0
1                        1                     4
2                        0                     3
3                        7                     5
4                        0                     4

C:\Users\yusuf\AppData\Local\Temp\ipykernel_23260\2484628854.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1[column].fillna(mode_value, inplace=True)  # Remplace les NaN par le mode

Cleaning employee_survey_data.csv

In [81]:
import pandas as pd
import os

for col in df2.columns:
    print(f"Colonne: {col}, Valeurs manquantes: {df2[col].isna().sum()} ,taux valeurs manquantes: {round(df2[col].isna().sum()/len(df2[col])*100,2)}%")

Colonne: EmployeeID, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%
Colonne: EnvironmentSatisfaction, Valeurs manquantes: 25 ,taux valeurs manquantes: 0.57%
Colonne: JobSatisfaction, Valeurs manquantes: 20 ,taux valeurs manquantes: 0.45%
Colonne: WorkLifeBalance, Valeurs manquantes: 38 ,taux valeurs manquantes: 0.86%

In [82]:
import pandas as pd
import os

def Print_clean_df2(df2):
    df2 = fill_missing_columns(df2)
    pd.set_option('display.max_rows', None)  # Afficher toutes les lignes
    pd.set_option('display.max_columns', None)  # Afficher toutes les colonnes

    for col in df2.columns:
        print(f"Colonne: {col}, Valeurs manquantes: {df2[col].isna().sum()} ,taux valeurs manquantes: {round(df2[col].isna().sum()/len(df2[col])*100,2)}%")
    return df2

df2 = Print_clean_df2(df2)

Colonnes supprimées (plus de 40.0% de valeurs manquantes) : []
Colonne: EmployeeID, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%
Colonne: EnvironmentSatisfaction, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%
Colonne: JobSatisfaction, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%
Colonne: WorkLifeBalance, Valeurs manquantes: 0 ,taux valeurs manquantes: 0.0%

C:\Users\yusuf\AppData\Local\Temp\ipykernel_23260\2484628854.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1[column].fillna(mode_value, inplace=True)  # Remplace les NaN par le mode

Merge theses three data set

In [83]:

df1 = pd.merge(df1, df2, on="EmployeeID", how="left")
df1 = pd.merge(df1, df3, on="EmployeeID", how="left")

df1.to_csv("datasets/general_data_fusionne.csv", index=False)
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int64
 2   BusinessTravel           4410 non-null   int64
 3   Department               4410 non-null   int64
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   int64
 7   EmployeeID               4410 non-null   int64
 8   Gender                   4410 non-null   int64
 9   JobLevel                 4410 non-null   int64
 10  JobRole                  4410 non-null   int64
 11  MaritalStatus            4410 non-null   int64
 12  MonthlyIncome            4410 non-null   int64
 13  NumCompaniesWorked       4410 non-null   float64
 14  PercentSalaryHike        4410 non-null   int64
 15  StandardHours            4410 non-null   int64
 16  StockOptionLevel         4410 non-null   int64
 17  TotalWorkingYears        4410 non-null   float64
 18  TrainingTimesLastYear    4410 non-null   int64
 19  YearsAtCompany           4410 non-null   int64
 20  YearsSinceLastPromotion  4410 non-null   int64
 21  YearsWithCurrManager     4410 non-null   int64
 22  EnvironmentSatisfaction  4410 non-null   float64
 23  JobSatisfaction          4410 non-null   float64
 24  WorkLifeBalance          4410 non-null   float64
 25  JobInvolvement           4410 non-null   int64
 26  PerformanceRating        4410 non-null   int64
dtypes: float64(5), int64(22)
memory usage: 930.4 KB
None